nav {
    background-color: #23B5AF;
    font-family: 'Handlee', cursive;
}

.navbar-brand {
    font-size: 40px;
    font-weight: bold;
}

.navbar-nav {
    font-size: 22px;
}

body {
    background-image: url("background-image.jpg");
}

h1 {
    margin-left: 20px;
    font-size: 45px;
    font-family: 'Handlee', cursive;
    font-weight: bold;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 2px;
    background: black;
  }

.about-me-content {
    background-color: rgb(243, 243, 243);
    border-radius: 25px;
    padding: 40px;

}

img {
    height: 300px;
    width: 300px;
    border-radius: 25px;
    margin: 20px;
}

#bio {
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
    height: 300px;
    width: 650px;
    margin: 20px;
 }

 .clearfix:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;

 }

 footer {
    position: relative;
    bottom: -260px;
    background-color: #23B5AF;
    height: 100px;
    width: 100%;
 }

@media screen and (max-width: 1200px) {
    img {
        margin: auto;
    }

    #bio {
        margin: auto;
        padding: 20px;
        text-align: center;
    }

    .about-me-content {
        height: 800px;
    }

}

@media screen and (max-width: 767px) {
    .about-me-content {
        height: 1200px;
    }
}

/* need to do a media screen for when my page goes below 400 px */