/* styling that applies to all pages */

nav {
    background-color: #23B5AF;
    font-family: 'Handlee', cursive;
}

.navbar-brand {
    font-size: 40px;
    font-weight: bold;
}

.navbar-nav {
    font-size: 22px;
}


body {
    background-image: url("background-image.jpg");
    margin-bottom: 40px;
}

h1 {
    margin-left: 20px;
    font-size: 45px;
    font-family: 'Handlee', cursive;
    font-weight: bold;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 2px;
    background: black;
  }


 footer {
    background-color: #23B5AF;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;

 }

/* styling specific to 'About' page */

.container, .container-sm, .container-md, .container-lg, .container-xl{
    background-color: rgb(243, 243, 243);
    border-radius: 25px;
    padding: 40px;

}

#bio-image {
    height: 350px;
    width: 300px;
    border-radius: 30px;
    margin: auto;
    padding: 20px;
}

#bio {
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
    height: 300px;
    width: 650px;
    margin: auto;
    line-height: 1.5;
 }

p, .card, #github-link, #linkedin-link, #resume-link { 
    font-family: 'Dosis', sans-serif;
}

#github-link, #linkedin-link, #resume-link {
    margin:auto;
    margin-left: 35px;
}

/* styling specific to 'contact' page */

.contact-form {
    
    border-radius: 25px;
    padding: 40px;
}

/* styling specific to 'portfolio' page */

.card-img-top {
    height: 200px;
    width: 200px;
    margin: auto;
    padding: 20px;
    border-radius: 25px;
}

.card {
    border-radius: 25px;
}

.card-title, .card-text {
    text-align: center;
}


#card-button {
    margin-left: 20%;
}

/* Used media queries to adjust the height of the background color 
of the div containing the bio on the 'About' page*/
@media screen and (max-width: 1199px) {
    #bio, #github-link, #linkedin-link, #resume-link {
        text-align: center;
    }

}

@media screen and (max-width: 768px) {
    .about-me-content {
        height: 800px;
    }
}

@media screen and (max-width: 445px) {
    .about-me-content {
        height: 1100px;
    }
}

@media screen and (max-width: 293px) {
    .about-me-content {
        height: 1500px;
    }
}

@media screen and (max-width: 225px) {
    .about-me-content {
        height: 2000px;
    }
}


